body{
  position: relative;
  margin: 0;
  padding: 0;
}
.header {
  // width: 100vw;
  background-color: #222125;
  height: 100px;
  position: relative;
  z-index: 9999;
  &__content {
    max-width: 100vw;
    display: flex;
    line-height: 100px;
    padding: 0 10px 0 10px;
     box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

  }
  &__logo-images{
    flex-grow: 1;
  }

  &__navbar-collapse{
    display: none;
  }


  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;


    .logo__logo-img {
     line-height: 100%;
      //background-image: url(../img/Logo.png);
    }
    .logo__hover{
      display: none;
    }
    .logo__text {
      font-family: 'Lato', sans-serif;
      color: #8d81ac;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      text-transform: uppercase;
      padding-left: 15px;
    }
  }
  &__flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 50px;
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-decoration: none;
      width: 517px;
      list-style-type: none;
      &__link {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color: #8d81ac;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  &__btn {
    padding: 12px 35px 11px 35px;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;

  }
}
.btn_violet {
  background-color: #8e82ad;
  white-space: nowrap;
}
.menu__link:hover {
  color: #ffffff;
}
.btn_violet:hover {
  background-color: #fff;
  color: #8d81ac;
  border: 1px solid #8d81ac;
}
.header__logo:hover .logo__hover {
  display: block;
  margin-top: -3px;
}
.header__logo:hover .logo__logo-img{
  background-image: url(../img/Logo-hover.png);

}
.header__logo .plain-img {
  display: block;
}
.header__logo .hover-img {
  display: none;
}
.header__logo:hover .plain-img {
  display: none;
}
.header__logo:hover .hover-img {
  display: block;
}

.header__logo:hover .logo__text {
  color: #ffffff;
}
.header__burger-menu {
  display: none;
}
@media (max-width: 992px) {
  .header {
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 100%;
      align-items: center;
      line-height: 100%;

    }
    &__flex-wrapper {
      margin-left: 0;
      max-width: 100%;
      min-width: 100px;

      justify-content: center;
      flex: 1 0 100%;
      order: 2;
      width: 517px;
    }

    &__logo{
      margin-left: 20px;
    }
  }

  .menu {
    order: 1;
    flex-basis: 100%;
    position: absolute;
    margin-right: 0;
    justify-content: space-between;
    max-width: 96vw;
    padding-bottom: 22px
  }
}
@media (max-width: 480px) {
  .header {
    height: 100px;
    &__content{
      display: flex;
      justify-content: space-between;
    }
    &__logo-images{
      flex-grow: 0;
    }
  }


  .menu li{
    display: none;
  }

  .header__burger-menu {
    display: block;
    width: 48px;
    background-color: inherit;
    position: relative;
    color: #ffffff;
    height: 40px;
  }

  #burgerMenuBtn {
    display: none;
  }

  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 26px;
    height: 2px;
    background-color: #ffffff;
    transition: .5s all;
  }

  .second-line, .third-line {
    top: 18px;
  }
  .fourth-line {
    top: 28px;
  }
  .main-menu {
    display: block;
    position: absolute;
    width: calc(100vw);
    bottom: -47px;
    right: -10px;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
    margin-right: auto;
    margin-left: auto;
  }

  .menu_link_mobile {
    display: block;
    position: relative;
    width: 100%;
    padding: 11px;
    color: #ffffff;
    text-decoration: none;
    background-color: #000;
    font-size: 2rem;
    box-sizing: border-box;
    line-height: 1.5;
    border-bottom: 1px solid grey;
    &:hover {
      color: #8d81ac;
    }
    &:hover::before {
      content: '';
      width: 0;
      height: 3.4rem;
      position: absolute;
      border: 2px solid #18cfab;
      top: 6px;
      left: 0;
      box-sizing: border-box;
    }
  }

  #burgerMenuBtn:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
  }
  #burgerMenuBtn:checked ~ .first-line {
    display: none;
  }
  #burgerMenuBtn:checked ~ .second-line {
    transform: rotate(45deg);
  }
  #burgerMenuBtn:checked ~ .third-line {
    transform: rotate(-45deg);
  }
  #burgerMenuBtn:checked ~ .fourth-line {
    display: none;
  }
}
@media (max-width: 400px) {
  .header__btn {
    font-size: 0.93rem;
  }

  .header .logo__text {
    display: none;
  }
}
