.header {
  // width: 100vw;
  background-color: #222125;
  height: 100px;
  position: relative;
  &__content {
    // width: 100%;
    max-width: 100vw;
    min-width: 993px;
    display: flex;
    justify-content: space-between;
    // flex-direction: row;
    line-height: 100px;
    // margin: 0 auto;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: 12.8%;
    // padding-left: 90px;

    .logo__logo-img {
      //display: flex;
    //  align-items: center;
      // width: 43px;
      // height: 41px;
     line-height: 100%;
      //background-image: url(../img/Logo.png);
    }
    .logo__hover{
      display: none;
    }
    .logo__text {
      font-family: 'Lato', sans-serif;
      color: #8d81ac;
      font-size: 24px;
      font-weight: 700;
      line-height: 16px;
      text-align: left;
      margin-left: 17px;
    }
  }
  &__flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 28.5%;
    width: 60.2%;
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-decoration: none;
      align-items: center;
      width: 517px;
      list-style-type: none;
      margin-right: 4%;
      &__link {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color: #8d81ac;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        vertical-align: middle;
      }
    }
  }
  &__btn {
    padding: 12px 35px 11px 35px;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    box-sizing: border-box;
  }
}
.btn_violet {
  background-color: #8e82ad;
  white-space: nowrap;
}
.menu__link:hover {
  color: #ffffff;
}
.btn_violet:hover {
  background-color: #fff;
  color: #8d81ac;
  border: 1px solid #8d81ac;
}
.header__logo:hover .logo__hover {
  display: block;
  margin-top: -3px;
}
.header__logo:hover .logo__img{
  display: none;
}
.header__logo:hover .logo__text {
  color: #ffffff;
}
